body {
  background-color: black;
}

.titleWrapper{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,1);
  z-index: 1000;
}

.slideWrapper{
  height: 100vh;
}
.overlay{
  bottom: 10em;
  right: 10em;
  position: absolute;
  color:white;
  background-color: rgba(0,0,0,1);
  z-index: 1000;
}

.car{
  overflow-y: hidden;
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
}